/* Variables */
:root {
  /* Colors */
  --primary-color: #00A496;
  --grey-color: #1C1C1C;
  --light-grey-color: #b8b8b8;
  --white-color: #FFFFFF;
  --black-color: #000000;

  /* Spacing */
  --spacing-xs: 0.3em;
  --spacing-s: 1em;
  --spacing-m: 1.5em;
  --spacing-l: 2em;
  --spacing-xl: 2.5em;
  --spacing-xxl: 3.5em;

  /* Fonts */
  --font-family: 'Helvetica', 'sans-serif';
  --font-weight-bold: 700;
  --font-size-l: 1.5em;
  --font-size-m: 1em;
  --fonte-size-s: 0.4em;
  --fonte-size-xs: 0.2em;
}

* {
margin: auto;
padding: auto;
justify-content: center;
align-items: center;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--black-color);
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}




@media (min-width: 768px) {
  body {
    font-size: var(--font-size-m);
  }

}

@media (max-width: 767px) {
  body {
    font-size: var(--font-size-s);
  }
}